Repository m2na7/react-compact-toast: changes, and which Codecov flags are due for each by the changed paths.
All: cypress, vitest

test: Add unit tests and set up Vitest environment (#9)
  .github/workflows/test-coverage.yml
  .gitignore
  .nycrc.json
  .vscode/settings.json
  codecov.yml
  package.json
  pnpm-lock.yaml
  src/components/toast.cy.tsx
  src/core/event-manager.test.ts
  src/core/event-manager.ts
  src/core/index.ts
  src/core/toast.test.ts
  src/core/toast.ts
  src/hooks/use-toast-container.test.ts
  src/hooks/use-toast.test.ts
  src/index.ts
  src/test-setup.ts
  src/types/index.ts
  vite.config.mts
Due: cypress, vitest

Update README.md
  README.md
Due: none

0.1.6
  package.json
Due: none

chore: update react-compact-toast
  playground/package.json
  playground/pnpm-lock.yaml
Due: none

feat: redesign playground
  playground/src/app/components/ActionButtons.tsx
  playground/src/app/components/Features.tsx
  playground/src/app/components/Footer.tsx
  playground/src/app/components/Header.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/components/Stats.tsx
  playground/src/app/page.tsx
  playground/src/styles/globals.css
Due: none

refactor: apply responsive design to QuickStart component
  playground/src/app/components/QuickStart.tsx
Due: none

feat: chang background color
  playground/src/app/page.tsx
Due: none

feat: ActionButtons, Header redesign
  playground/src/app/components/ActionButtons.tsx
  playground/src/app/components/Header.tsx
Due: none

feat: delete ActionButton
  playground/src/app/components/ActionButtons.tsx
  playground/src/app/page.tsx
Due: none

chore: add motion
  playground/package.json
  playground/pnpm-lock.yaml
Due: none

feat: apply framer-motion animations to components
  playground/src/app/components/Features.tsx
  playground/src/app/components/Header.tsx
  playground/src/app/components/Hero.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/Stats.tsx
  playground/src/app/page.tsx
Due: none

fix: adjust margin in InteractiveDemo component
  playground/src/app/components/InteractiveDemo.tsx
Due: none

feat(playground): redesign playground with hero section and motion animations (#10)
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/ActionButtons.tsx
  playground/src/app/components/Features.tsx
  playground/src/app/components/Footer.tsx
  playground/src/app/components/Header.tsx
  playground/src/app/components/Hero.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/components/Stats.tsx
  playground/src/app/page.tsx
  playground/src/styles/globals.css
Due: none

remove: delete vercel.json
  vercel.json
Due: none

feat: add getToastOffsetStyle util function and test
  src/utils/get-toast-offset-style.test.ts
  src/utils/get-toast-offset-style.ts
  src/utils/index.ts
Due: none

feat: add Cypress tests for ToastContainer component and verify offset application
  src/components/toast-container.cy.tsx
  src/components/toast-container.tsx
Due: cypress

feat: add offset prop to Toast component and write related test cases
  src/components/toast.cy.tsx
  src/components/toast.tsx
  src/core/toast.ts
  src/types/index.ts
Due: cypress, vitest

chore(playground): switch react-compact-toast to local file path
  playground/package.json
  playground/pnpm-lock.yaml
Due: none

feat(playground): update Toast offset and style in InteractiveDemo and QuickStart components
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
Due: none

fix: handle undefined or null offset in getToastOffsetStyle
  src/utils/get-toast-offset-style.ts
Due: none

chore(playground): change react-compact-toast dependency from local file path to symlink
  playground/package.json
  playground/pnpm-lock.yaml
Due: none

chore: add vercel.json configuration for Next.js deployment
  vercel.json
Due: none

chore: update vercel.json
  vercel.json
Due: none

chore: add vercel.json in playground
  playground/vercel.json
  vercel.json
Due: none

chore(playground): add build:vercel script to package.json
  playground/package.json
Due: none

chore(playground): update build command and adjust dependencies in package.json
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/layout.tsx
  playground/src/app/page.tsx
  playground/vercel.json
  vercel.json
Due: none

chore: update vercel.json
  package.json
  vercel.json
Due: none

fix: update lockfile and add public assets for Vercel deployment
  pnpm-lock.yaml
  public/favicon.ico
  public/logo.webp
Due: none

feat: add offset prop for custom positioning from screen edges (#11)
  package.json
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/layout.tsx
  playground/src/app/page.tsx
  playground/vercel.json
  pnpm-lock.yaml
  public/favicon.ico
  public/logo.webp
  src/components/toast-container.cy.tsx
  src/components/toast-container.tsx
  src/components/toast.cy.tsx
  src/components/toast.tsx
  src/core/toast.ts
  src/types/index.ts
  src/utils/get-toast-offset-style.test.ts
  src/utils/get-toast-offset-style.ts
  src/utils/index.ts
  vercel.json
Due: cypress, vitest

0.2.0
  package.json
Due: none

feat(toast): add toastManager interface for type safety and cleanup in tests
  cypress/support/commands.ts
  src/components/toast-container.cy.tsx
Due: cypress

test(toast): clear existing toasts before each test
  src/components/toast-container.cy.tsx
Due: cypress

fix: remove @ts-ignore by declaring global Window.toastManager type (#12)
  cypress/support/commands.ts
  src/components/toast-container.cy.tsx
Due: cypress

feat: add .coderabbit.yaml
  .coderabbit.yaml
Due: none

feat: add containerStyle API
  src/components/toast-container.tsx
  src/core/toast.ts
  src/hooks/use-toast-container.ts
  src/types/index.ts
Due: cypress, vitest

test: add containerStyle test cases
  src/hooks/use-toast-container.test.ts
Due: vitest

chore: edit .coderabbit.yaml
  .coderabbit.yaml
Due: none

Path conditions:
  cypress: any of: src/components/
  vitest: any of: src/core/, src/hooks/
