Repository m2na7/react-compact-toast: changes, and which Codecov flags are due for each by the changed paths.
All: cypress, vitest

refactor: specify the type of combinedStyle
  src/components/toast-container.tsx
Due: cypress

refactor: simplify code by defining ToastPositionGroup type
  src/hooks/use-toast-container.ts
Due: vitest

test: add test case for "first wins" policy in containerStyle
  src/hooks/use-toast-container.test.ts
Due: vitest

chore: edit .coderabbit.yaml
  .coderabbit.yaml
Due: none

test: add test case for applying containerStyle from second toast
  src/hooks/use-toast-container.test.ts
Due: vitest

chore: add additional file patterns to Vite configuration
  vite.config.mts
Due: none

feat: add containerStyle option (#13)
  .coderabbit.yaml
  src/components/toast-container.tsx
  src/core/toast.ts
  src/hooks/use-toast-container.test.ts
  src/hooks/use-toast-container.ts
  src/types/index.ts
  vite.config.mts
Due: cypress, vitest

fix: update toast text and bundle size display for clarity
  playground/src/app/components/Hero.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/components/Stats.tsx
Due: none

feat: add CodeBlock component and add react-syntax-highlighter dependency
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/CodeBlock.tsx
  playground/src/app/components/QuickStart.tsx
Due: none

feat: add ShowToastButton component to InteractiveDemo and implement various toast styles
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/ShowToastButton.tsx
Due: none

feat: implements page layout
  playground/src/app/components/Features.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/components/Stats.tsx
  playground/src/app/page.tsx
Due: none

refactor: improve plain toast UI
  src/styles.css
Due: none

refactor: Change variants type from any to Variants and clean up code
  playground/src/app/components/ShowToastButton.tsx
Due: none

fix: update toast messages for clarity and adjust autoClose duration
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
Due: none

feat(playground): improve webpage design (#14)
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/CodeBlock.tsx
  playground/src/app/components/Features.tsx
  playground/src/app/components/Hero.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/components/ShowToastButton.tsx
  playground/src/app/components/Stats.tsx
  playground/src/app/page.tsx
  src/styles.css
Due: none

feat: add release workflow file
  .github/workflows/package-deploy-release.yml
  .github/workflows/package-deploy-test.yml
  .github/workflows/release.yml
Due: none

chore: remove pnpm version specification in release workflow
  .github/workflows/release.yml
Due: none

chore: add permissions to release workflow
  .github/workflows/release.yml
Due: none

chore: add Cypress Binary cache
  .github/workflows/release.yml
Due: none

chore: add git push command in release workflow
  .github/workflows/release.yml
Due: none

chore: migrate to tsdown
  .coderabbit.yaml
  .npmignore
  package.json
  pnpm-lock.yaml
  tsdown.config.ts
Due: none

chore: remove tsconfig.node.json and update tsdown.config.ts
  tsconfig.node.json
  tsdown.config.ts
Due: none

chore: add ci.yml
  .github/workflows/ci.yml
Due: none

chore: remove default options
  tsdown.config.ts
Due: none

chore: update pnpm-lock.yaml and ci.yml
  .github/workflows/ci.yml
  pnpm-lock.yaml
Due: none

chore: update Node.js to v20
  .github/workflows/ci.yml
  .github/workflows/release.yml
  package.json
Due: none

chore: update release.yml
  .github/workflows/release.yml
Due: none

chore: add react/jsx-runtime and react/jsx-dev-runtime to tsdown.config.ts
  tsdown.config.ts
Due: none

chore: update CI workflow to include bundle size check
  .github/workflows/ci.yml
Due: none

chore: update CI workflow to exclude specific CSS files from bundle size check
  .github/workflows/ci.yml
Due: none

chore: update CI workflow
  .github/workflows/ci.yml
Due: none

chore: migrate from tsup to tsdown (#15)
  .coderabbit.yaml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .npmignore
  package.json
  pnpm-lock.yaml
  tsconfig.node.json
  tsdown.config.ts
Due: none

chore: replace the toolchain and update every dependency
  .coderabbit.yaml
  .gitignore
  .npmignore
  .nycrc.json
  .prettierignore
  .vscode/settings.json
  cypress.config.ts
  cypress/tsconfig.json
  eslint.config.mjs
  lefthook.yml
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  public/favicon.ico
  public/index.html
  public/logo.webp
  scripts/check-package.mjs
  src/env.d.ts
  src/test-setup.ts
  tsconfig.json
  tsdown.config.mts
  tsdown.config.ts
  vercel.json
  vite.config.mts
  vitest.config.mts
Due: none

fix!: give the event hub a single source of truth
  src/components/icons.tsx
  src/components/index.ts
  src/components/toast-container.tsx
  src/components/toast.tsx
  src/constants.ts
  src/constants/index.ts
  src/core/announcer.ts
  src/core/defined-only.ts
  src/core/event-manager.ts
  src/core/index.ts
  src/core/inject-styles.ts
  src/core/store.ts
  src/core/toast.ts
  src/hooks/index.ts
  src/hooks/use-announcements.ts
  src/hooks/use-inject-styles.ts
  src/hooks/use-page-focus.ts
  src/hooks/use-toast-container.ts
  src/hooks/use-toast.ts
  src/index.ts
  src/styles.css
  src/types.ts
  src/types/index.ts
  src/utils/get-toast-offset-style.ts
  src/utils/index.ts
Due: cypress, vitest

test: rewrite the suites against the public API
  codecov.yml
  cypress/support/commands.ts
  cypress/support/component.ts
  src/components/toast-container.cy.tsx
  src/components/toast-container.test.tsx
  src/components/toast.cy.tsx
  src/components/toast.test.tsx
  src/core/announcer.test.tsx
  src/core/event-manager.test.tsx
  src/core/store.test.ts
  src/core/toast.test.ts
  src/hooks/use-toast-container.test.ts
  src/hooks/use-toast.test.ts
  src/hooks/use-toast.test.tsx
  src/hydration.test.tsx
  src/index.test.tsx
  src/ssr.test.tsx
  src/test-utils.ts
  src/utils/get-toast-offset-style.test.ts
  vitest.setup.ts
Due: cypress, vitest

feat: add a headless entry point
  headless/package.json
  package.json
  scripts/check-package.mjs
  src/headless.ts
  tsdown.config.mts
Due: none

docs: write the API reference, a changelog and a contributing guide
  CHANGELOG.md
  CONTRIBUTING.md
  README.md
Due: none

ci: rebuild the workflows and the release process
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/test-coverage.yml
Due: none

feat(playground): consume the published package and fill in the docs page
  playground/README.md
  playground/eslint.config.js
  playground/next-env.d.ts
  playground/package.json
  playground/pnpm-lock.yaml
  playground/src/app/components/Features.tsx
  playground/src/app/components/InteractiveDemo.tsx
  playground/src/app/components/QuickStart.tsx
  playground/src/app/docs/page.tsx
  playground/src/app/layout.tsx
  playground/src/app/page.tsx
  playground/src/styles/globals.css
  playground/tsconfig.app.json
  playground/tsconfig.json
  playground/tsconfig.node.json
Due: none

chore(release): 0.3.0
  .omc/plans/redesign-spec.md
  .omc/project-memory.json
  .omc/sessions/e17be789-941d-4b1b-8b64-cb96cffdc52c.json
  .omc/state/agent-replay-da84fd27-b1ad-4db0-9839-9b653fac64ee.jsonl
  .omc/state/hud-stdin-cache.json
  .omc/state/last-tool-error.json
  .omc/state/mission-state.json
  .omc/state/sessions/da84fd27-b1ad-4db0-9839-9b653fac64ee/hud-state.json
  .omc/state/subagent-tracking.json
  package.json
  src/core/event-manager.test.ts
Due: vitest

Path conditions:
  cypress: any of: src/components/
  vitest: any of: src/core/, src/hooks/
